<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Data Structures And Algorithms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <div class="btn-group col-2" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                        aria-controls="dropdown-basic">
                  Data Structures <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/arrays']">Arrays</a></li>
                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/hash']">Hash Tables</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Linked Lists</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Trees</a>
                <li role="menuitem"><a class="dropdown-item" href="#">Graphs</a>
                  <li role="menuitem"><a class="dropdown-item" href="#">Stacks</a>
                <li role="menuitem"><a class="dropdown-item" href="#">Queues</a>
                  </li>
                </ul>
              </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary" [routerLink]="['/sorting']">Sorting Algorithms</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-secondary ml-3">Path Finding Algorithms</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-secondary ml-3">About</button>
        </li>
      </ul>
  </nav>